* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background:rgb(196, 139, 139);
    padding: 0;
    margin: 0;
    
  }

  h2{
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    text-align: center;
    color:black;  
  }
  p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 50px;
    color:black;
  }

#wrapper{
    display: relative;
    outline: none;
    margin-left:350px;
    Width:50%;
    padding:30px;
    text-align:center;
    font-size: 25px;
    align-items: center;
    border:solid #007bff 1px;
    justify-content: center;
  }

#btn{
    color:rgb(255, 255, 255);
    background-color:#007bff;
    border-color:#007bff;
    padding:10px;
    outline:none;
    text-align: center;
    margin-top:10px;
    margin-left:690px;
}

hr{
  margin-top: 100px;
  border:black solid 1px;
}

#input-date{
text-align:center;
align-items: center;
width:20%;
margin-left:580px;
padding: 5px;
border-radius: 5px;
border:solid #007bff 1px;
outline: none;
}